version: "3"
services:

    nginx:
        
        image: nginx:1.17
        ports:
            - "443:443"
            - "80:80"
        volumes:
            - ./nginx/conf.d:/etc/nginx/conf.d
            - ./nginx/code:/code
